In [1]:
#This cells needs to be ignored
#Here we are validating the create plugin functionality in Jhub
#All cells are Assumed to be script cells, unless explicitly marked as o9_ignore

In [1]:
from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource
query1 = "select (Version.[Version Name]*Product.[Product]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]}) limit 10;"
O9DataLake.register("sales_df",DataSource.LS, ResourceType.IBPL, query1)

2023-01-03 04:57:38,859 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/ibplquery/5502/ExecuteCompactJsonQuery]
2023-01-03 04:57:38,863 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-03 04:57:39,052 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/5502/ExecuteCompactJsonQuery HTTP/1.1" 200 None
2023-01-03 04:57:44,062 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/ibplquery/5502/ExecuteCompactJsonQuery]
2023-01-03 04:57:44,066 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-03 04:57:44,217 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/5502/ExecuteCompactJsonQuery HTTP/1.1" 200 None

,Version.[Version Name],Product.[Product],Time.[FiscalWeek],SalesAccount.[Account],Location.[Location],DPSellOutUnitsActuals,Mean Pricing Save PCT,Placement Count,Promotion Count,DPSellOutPrice
0,CurrentWorkingView,196426,W03-2016,ALL,ALL,500.0,NaN,NaN,NaN,10.0
1,CurrentWorkingView,196426,W05-2016,ALL,ALL,500.0,NaN,NaN,NaN,10.0
2,CurrentWorkingView,196426,W08-2016,ALL,ALL,500.0,NaN,NaN,NaN,10.0
3,CurrentWorkingView,196426,W13-2016,ALL,ALL,500.0,NaN,NaN,NaN,10.0
4,CurrentWorkingView,196426,W48-2016,ALL,ALL,500.0,NaN,NaN,NaN,10.0
5,CurrentWorkingView,196426,W42-2017,ALL,ALL,500.0,NaN,NaN,NaN,10.0
6,CurrentWorkingView,196426,W44-2017,ALL,ALL,500.0,NaN,NaN,NaN,10.0
7,CurrentWorkingView,208821,W49-2015,ALL,ALL,NaN,NaN,2.0,NaN,NaN
8,CurrentWorkingView,208821,W50-2015,ALL,ALL,NaN,NaN,2.0,NaN,NaN
9,CurrentWorkingView,208821,W51-2015,ALL,ALL,NaN,NaN,2.0,NaN,NaN

In [2]:
#getting input from dataLake

#getting input from dataLake

sales = O9DataLake.get('sales_df')


#User Script
import logging
logger = logging.getLogger('o9_logger')
logger.info(f'Records count in sales dataframe : {sales.shape}')
sales.head()

2023-01-03 04:58:14,405 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/ibplquery/5502/ExecuteCompactJsonQuery]
2023-01-03 04:58:14,409 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-03 04:58:14,513 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/5502/ExecuteCompactJsonQuery HTTP/1.1" 200 None
2023-01-03 04:58:19,521 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/ibplquery/5502/ExecuteCompactJsonQuery]
2023-01-03 04:58:19,525 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-03 04:58:19,610 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/5502/ExecuteCompactJsonQuery HTTP/1.1" 200 None
2023-01-03 04:58:24,630 : srishtisingh_5502 :Records count in sales dataframe : (10, 10)

,Version.[Version Name],Product.[Product],Time.[FiscalWeek],SalesAccount.[Account],Location.[Location],DPSellOutUnitsActuals,Mean Pricing Save PCT,Placement Count,Promotion Count,DPSellOutPrice
0,CurrentWorkingView,196426,W03-2016,ALL,ALL,500.0,NaN,NaN,NaN,10.0
1,CurrentWorkingView,196426,W05-2016,ALL,ALL,500.0,NaN,NaN,NaN,10.0
2,CurrentWorkingView,196426,W08-2016,ALL,ALL,500.0,NaN,NaN,NaN,10.0
3,CurrentWorkingView,196426,W13-2016,ALL,ALL,500.0,NaN,NaN,NaN,10.0
4,CurrentWorkingView,196426,W48-2016,ALL,ALL,500.0,NaN,NaN,NaN,10.0

In [3]:
#pushing output to the DataLake
sales["DPSellOutUnitsActuals"] = "5.0"
O9DataLake.put('out_df1',sales)

2023-01-03 04:58:32,635 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-03 04:58:32,736 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "GET /api/framework/sessions/session/authToken?authToken=11qx4vtyj1uj45ka2qptcabm HTTP/1.1" 200 None
2023-01-03 04:58:32,739 : srishtisingh_5502 :Uploading LOCAL file: /tmp/tmpoz6k9zj7/Fact.out_df1.csv
2023-01-03 04:58:32,741 : srishtisingh_5502 :Is the file parquet: False
2023-01-03 04:58:32,742 : srishtisingh_5502 :Uploading /tmp/tmpoz6k9zj7/Fact.out_df1.csv to Live Server cloud
2023-01-03 04:58:32,743 : srishtisingh_5502 :File size less than 256 MB
2023-01-03 04:58:32,744 : srishtisingh_5502 :Uploading to /fileUpload endpoint
2023-01-03 04:58:32,745 : srishtisingh_5502 :Uploading /tmp/tmpoz6k9zj7/Fact.out_df1.csv to Live Server cloud
2023-01-03 04:58:32,750 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-03 04:58:35,007 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/upload/fileUpload HTTP/1.1" 200 None
2023-01-03 04:58:35,011 : srishtisingh_5502 :Uploaded the file successfully
2023-01-03 04:58:35,013 : srishtisingh_5502 :Uploading cloud files at: "azure://IvrkBaeWLfmAdgA63s0q-YQjS9rnxeYLls4-lXy8ZCBb7W5Pos9YT7xPNvmWLQcstpUHxf3FCrS49exMY-SvVw2"
2023-01-03 04:58:35,014 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/framework/sessions/session]
2023-01-03 04:58:35,017 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-03 04:58:35,142 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "GET /api/framework/sessions/session HTTP/1.1" 200 None
2023-01-03 04:58:35,145 : srishtisingh_5502 :logged into tenant pyplatformhivetest successfully
2023-01-03 04:58:35,147 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/user]
2023-01-03 04:58:35,150 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-03 04:58:35,460 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "GET /api/user HTTP/1.1" 200 None
2023-01-03 04:58:35,466 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-03 04:58:35,587 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "GET /api/framework/sessions/session/authToken?authToken=11qx4vtyj1uj45ka2qptcabm HTTP/1.1" 200 None
2023-01-03 04:58:35,593 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-03 04:58:38,102 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/5502/ExecuteQuery HTTP/1.1" 200 None
2023-01-03 04:58:38,105 : srishtisingh_5502 :200, OK
2023-01-03 04:58:38,107 : srishtisingh_5502 :Response json:
{"Result":"[{\"FileName\":\"Fact.out_df1.csv\",\"SheetName\":\"Fact.out_df1.csv\",\"TotalRows\":10,\"ProcessedRows\":10,\"Status\":\"Success\",\"Messages\":[\"Total Rows: [10]. Successfully Processed Rows: [10].\"],\"FileId\":\"azure://IvrkBaeWLfmAdgA63s0q-YQjS9rnxeYLls4-lXy8ZCBb7W5Pos9YT7xPNvmWLQcstpUHxf3FCrS49exMY-SvVw2\"}]","QueryGuid":"8cfdde6c-aee2-4789-87a1-dc4e007ba294","ImpactHeader":{"TenantId":5502,"TransactionId":"00000000-0000-0000-0000-000000000000","UpdatedMembers":null,"CreatedMembers":null,"DeletedMembers":null,"ModelImpact":{"DemandPlanning.Core.Inputs":{"DPBaseInputs":["DPSellOutUnitsActuals","Mean Pricing Save PCT","Placement Count","Promotion Count","DPSellOutPrice"]}}}}
2023-01-03 04:58:38,109 : srishtisingh_5502 :{'FileName': 'Fact.out_df1.csv', 'SheetName': 'Fact.out_df1.csv', 'TotalRows': 10, 'ProcessedRows': 10, 'Status': 'Success', 'Messages': ['Total Rows: [10]. Successfully Processed Rows: [10].'], 'FileId': 'azure://IvrkBaeWLfmAdgA63s0q-YQjS9rnxeYLls4-lXy8ZCBb7W5Pos9YT7xPNvmWLQcstpUHxf3FCrS49exMY-SvVw2'}

In [4]:
sales.head()

,Version.[Version Name],Product.[Product],Time.[FiscalWeek],SalesAccount.[Account],Location.[Location],DPSellOutUnitsActuals,Mean Pricing Save PCT,Placement Count,Promotion Count,DPSellOutPrice
0,CurrentWorkingView,196426,W03-2016,ALL,ALL,5.0,NaN,NaN,NaN,10.0
1,CurrentWorkingView,196426,W05-2016,ALL,ALL,5.0,NaN,NaN,NaN,10.0
2,CurrentWorkingView,196426,W08-2016,ALL,ALL,5.0,NaN,NaN,NaN,10.0
3,CurrentWorkingView,196426,W13-2016,ALL,ALL,5.0,NaN,NaN,NaN,10.0
4,CurrentWorkingView,196426,W48-2016,ALL,ALL,5.0,NaN,NaN,NaN,10.0