In [8]:
#This cells needs to be ignored
#Here we are validating the create plugin functionality in Jhub
#All cells are Assumed to be script cells, unless explicitly marked as o9_ignore

In [9]:
from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource
query1 = "select (Version.[Version Name]*Product.[Product]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]}) limit 10;"
O9DataLake.register("sales_df",DataSource.LS, ResourceType.IBPL, query1)

2023-01-05 15:22:17,085 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/ibplquery/5502/ExecuteCompactJsonQuery]
2023-01-05 15:22:17,088 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-05 15:22:17,254 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/5502/ExecuteCompactJsonQuery HTTP/1.1" 200 None
2023-01-05 15:22:22,262 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/ibplquery/5502/ExecuteCompactJsonQuery]
2023-01-05 15:22:22,265 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-05 15:22:22,410 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/5502/ExecuteCompactJsonQuery HTTP/1.1" 200 None

,Version.[Version Name],Product.[Product],Time.[FiscalWeek],SalesAccount.[Account],Location.[Location],DPSellOutUnitsActuals,Mean Pricing Save PCT,Placement Count,Promotion Count,DPSellOutPrice
0,CurrentWorkingView,196426,W03-2016,ALL,ALL,10.0,NaN,NaN,NaN,10.0
1,CurrentWorkingView,196426,W05-2016,ALL,ALL,10.0,NaN,NaN,NaN,10.0
2,CurrentWorkingView,196426,W08-2016,ALL,ALL,10.0,NaN,NaN,NaN,10.0
3,CurrentWorkingView,196426,W13-2016,ALL,ALL,10.0,NaN,NaN,NaN,10.0
4,CurrentWorkingView,196426,W48-2016,ALL,ALL,10.0,NaN,NaN,NaN,10.0
5,CurrentWorkingView,196426,W42-2017,ALL,ALL,10.0,NaN,NaN,NaN,10.0
6,CurrentWorkingView,196426,W44-2017,ALL,ALL,10.0,NaN,NaN,NaN,10.0
7,CurrentWorkingView,208821,W49-2015,ALL,ALL,10.0,NaN,2.0,NaN,NaN
8,CurrentWorkingView,208821,W50-2015,ALL,ALL,10.0,NaN,2.0,NaN,NaN
9,CurrentWorkingView,208821,W51-2015,ALL,ALL,10.0,NaN,2.0,NaN,NaN

In [10]:
#getting input from dataLake

#getting input from dataLake

sales = O9DataLake.get('sales_df')


#User Script
import logging
out_df1 = None
logger = logging.getLogger('o9_logger')
logger.info(f'Records count in sales dataframe : {sales.shape}')
sales.head()

2023-01-05 15:22:27,446 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/ibplquery/5502/ExecuteCompactJsonQuery]
2023-01-05 15:22:27,450 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-05 15:22:27,614 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/5502/ExecuteCompactJsonQuery HTTP/1.1" 200 None
2023-01-05 15:22:32,623 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/ibplquery/5502/ExecuteCompactJsonQuery]
2023-01-05 15:22:32,626 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-05 15:22:32,798 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/5502/ExecuteCompactJsonQuery HTTP/1.1" 200 None
2023-01-05 15:22:37,818 : srishtisingh_5502 :Records count in sales dataframe : (10, 10)

,Version.[Version Name],Product.[Product],Time.[FiscalWeek],SalesAccount.[Account],Location.[Location],DPSellOutUnitsActuals,Mean Pricing Save PCT,Placement Count,Promotion Count,DPSellOutPrice
0,CurrentWorkingView,196426,W03-2016,ALL,ALL,10.0,NaN,NaN,NaN,10.0
1,CurrentWorkingView,196426,W05-2016,ALL,ALL,10.0,NaN,NaN,NaN,10.0
2,CurrentWorkingView,196426,W08-2016,ALL,ALL,10.0,NaN,NaN,NaN,10.0
3,CurrentWorkingView,196426,W13-2016,ALL,ALL,10.0,NaN,NaN,NaN,10.0
4,CurrentWorkingView,196426,W48-2016,ALL,ALL,10.0,NaN,NaN,NaN,10.0

In [11]:
#pushing output to the DataLake
sales["DPSellOutUnitsActuals"] = "10.0"
O9DataLake.put('out_df1',sales)

2023-01-05 15:22:37,843 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-05 15:22:37,942 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "GET /api/framework/sessions/session/authToken?authToken=11qx4vtyj1uj45ka2qptcabm HTTP/1.1" 200 None
2023-01-05 15:22:37,945 : srishtisingh_5502 :Uploading LOCAL file: /tmp/tmp0yvkp9yg/Fact.out_df1.csv
2023-01-05 15:22:37,947 : srishtisingh_5502 :Is the file parquet: False
2023-01-05 15:22:37,948 : srishtisingh_5502 :Uploading /tmp/tmp0yvkp9yg/Fact.out_df1.csv to Live Server cloud
2023-01-05 15:22:37,948 : srishtisingh_5502 :File size less than 256 MB
2023-01-05 15:22:37,951 : srishtisingh_5502 :Uploading to /fileUpload endpoint
2023-01-05 15:22:37,952 : srishtisingh_5502 :Uploading /tmp/tmp0yvkp9yg/Fact.out_df1.csv to Live Server cloud
2023-01-05 15:22:37,955 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-05 15:22:40,301 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/upload/fileUpload HTTP/1.1" 200 None
2023-01-05 15:22:40,304 : srishtisingh_5502 :Uploaded the file successfully
2023-01-05 15:22:40,306 : srishtisingh_5502 :Uploading cloud files at: "azure://IvrkBaeWLfmAdgA63s0q-YQjS9rnxeYLls4-lXy8ZCBb7W5Pos9YT7xPNvmWLQcstpUHxf3FCrS49exMY-SvVw2"
2023-01-05 15:22:40,309 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/framework/sessions/session]
2023-01-05 15:22:40,315 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-05 15:22:40,430 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "GET /api/framework/sessions/session HTTP/1.1" 200 None
2023-01-05 15:22:40,434 : srishtisingh_5502 :logged into tenant pyplatformhivetest successfully
2023-01-05 15:22:40,435 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/user]
2023-01-05 15:22:40,439 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-05 15:22:40,717 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "GET /api/user HTTP/1.1" 200 None
2023-01-05 15:22:40,725 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-05 15:22:40,827 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "GET /api/framework/sessions/session/authToken?authToken=11qx4vtyj1uj45ka2qptcabm HTTP/1.1" 200 None
2023-01-05 15:22:40,832 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-05 15:22:43,480 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/5502/ExecuteQuery HTTP/1.1" 200 None
2023-01-05 15:22:43,483 : srishtisingh_5502 :200, OK
2023-01-05 15:22:43,485 : srishtisingh_5502 :Response json:
{"Result":"[{\"FileName\":\"Fact.out_df1.csv\",\"SheetName\":\"Fact.out_df1.csv\",\"TotalRows\":10,\"ProcessedRows\":10,\"Status\":\"Success\",\"Messages\":[\"Total Rows: [10]. Successfully Processed Rows: [10].\"],\"FileId\":\"azure://IvrkBaeWLfmAdgA63s0q-YQjS9rnxeYLls4-lXy8ZCBb7W5Pos9YT7xPNvmWLQcstpUHxf3FCrS49exMY-SvVw2\"}]","QueryGuid":"1de9442d-256e-4207-9a98-730bba34c539","ImpactHeader":{"TenantId":5502,"TransactionId":"00000000-0000-0000-0000-000000000000","UpdatedMembers":null,"CreatedMembers":null,"DeletedMembers":null,"ModelImpact":{"DemandPlanning.Core.Inputs":{"DPBaseInputs":["DPSellOutUnitsActuals","Mean Pricing Save PCT","Placement Count","Promotion Count","DPSellOutPrice"]}}}}
2023-01-05 15:22:43,486 : srishtisingh_5502 :{'FileName': 'Fact.out_df1.csv', 'SheetName': 'Fact.out_df1.csv', 'TotalRows': 10, 'ProcessedRows': 10, 'Status': 'Success', 'Messages': ['Total Rows: [10]. Successfully Processed Rows: [10].'], 'FileId': 'azure://IvrkBaeWLfmAdgA63s0q-YQjS9rnxeYLls4-lXy8ZCBb7W5Pos9YT7xPNvmWLQcstpUHxf3FCrS49exMY-SvVw2'}

In [12]:
sales.head()

,Version.[Version Name],Product.[Product],Time.[FiscalWeek],SalesAccount.[Account],Location.[Location],DPSellOutUnitsActuals,Mean Pricing Save PCT,Placement Count,Promotion Count,DPSellOutPrice
0,CurrentWorkingView,196426,W03-2016,ALL,ALL,10.0,NaN,NaN,NaN,10.0
1,CurrentWorkingView,196426,W05-2016,ALL,ALL,10.0,NaN,NaN,NaN,10.0
2,CurrentWorkingView,196426,W08-2016,ALL,ALL,10.0,NaN,NaN,NaN,10.0
3,CurrentWorkingView,196426,W13-2016,ALL,ALL,10.0,NaN,NaN,NaN,10.0
4,CurrentWorkingView,196426,W48-2016,ALL,ALL,10.0,NaN,NaN,NaN,10.0

In [13]:
print("Hello")

Hello