In [1]:
from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource
query1 = "select (Version.[Version Name]*Product.[Product]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]}) limit 10;"
O9DataLake.register("sales_df",DataSource.LS, ResourceType.IBPL, query1)

2023-01-12 10:38:08,528 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/ibplquery/5502/ExecuteCompactJsonQuery]
2023-01-12 10:38:08,532 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-12 10:38:08,717 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/5502/ExecuteCompactJsonQuery HTTP/1.1" 200 None
2023-01-12 10:38:13,727 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/ibplquery/5502/ExecuteCompactJsonQuery]
2023-01-12 10:38:13,731 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-12 10:38:13,893 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/5502/ExecuteCompactJsonQuery HTTP/1.1" 200 None

,Version.[Version Name],Product.[Product],Time.[FiscalWeek],SalesAccount.[Account],Location.[Location],DPSellOutUnitsActuals,Mean Pricing Save PCT,Placement Count,Promotion Count,DPSellOutPrice
0,CurrentWorkingView,196426,W03-2016,ALL,ALL,11.0,NaN,NaN,NaN,10.0
1,CurrentWorkingView,196426,W05-2016,ALL,ALL,11.0,NaN,NaN,NaN,10.0
2,CurrentWorkingView,196426,W08-2016,ALL,ALL,11.0,NaN,NaN,NaN,10.0
3,CurrentWorkingView,196426,W13-2016,ALL,ALL,11.0,NaN,NaN,NaN,10.0
4,CurrentWorkingView,196426,W48-2016,ALL,ALL,11.0,NaN,NaN,NaN,10.0
5,CurrentWorkingView,196426,W42-2017,ALL,ALL,11.0,NaN,NaN,NaN,10.0
6,CurrentWorkingView,196426,W44-2017,ALL,ALL,11.0,NaN,NaN,NaN,10.0
7,CurrentWorkingView,208821,W49-2015,ALL,ALL,11.0,NaN,2.0,NaN,NaN
8,CurrentWorkingView,208821,W50-2015,ALL,ALL,11.0,NaN,2.0,NaN,NaN
9,CurrentWorkingView,208821,W51-2015,ALL,ALL,11.0,NaN,2.0,NaN,NaN

In [2]:
print("hello")

hello

In [ ]:
#getting input from dataLake

sales = O9DataLake.get('sales_df')


#User Script
import logging
out_df1 = None
logger = logging.getLogger('o9_logger')
logger.info(f'Records count in sales dataframe : {sales.shape}')

logger.warning("Hello warning")
logger.error("Hello error")
logger.info("execution done")

#pushing output to the DataLake
O9DataLake.put('out_df1',sales)

2023-01-12 10:38:50,088 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/ibplquery/5502/ExecuteCompactJsonQuery]
2023-01-12 10:38:50,093 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-12 10:38:50,244 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/5502/ExecuteCompactJsonQuery HTTP/1.1" 200 None
2023-01-12 10:38:55,254 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/ibplquery/5502/ExecuteCompactJsonQuery]
2023-01-12 10:38:55,257 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-12 10:38:55,441 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/5502/ExecuteCompactJsonQuery HTTP/1.1" 200 None
2023-01-12 10:39:00,463 : srishtisingh_5502 :Records count in sales dataframe : (10, 10)
2023-01-12 10:39:00,464 : srishtisingh_5502 :Hello warning
2023-01-12 10:39:00,465 : srishtisingh_5502 :Hello error
2023-01-12 10:39:00,466 : srishtisingh_5502 :execution done
2023-01-12 10:39:00,473 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2023-01-12 10:39:00,589 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "GET /api/framework/sessions/session/authToken?authToken=fqij4fcshzsf1dxogdn1pjjk HTTP/1.1" 200 None
2023-01-12 10:39:00,593 : srishtisingh_5502 :Uploading LOCAL file: /tmp/tmpbiiiphx9/Fact.out_df1.csv
2023-01-12 10:39:00,594 : srishtisingh_5502 :Is the file parquet: False
2023-01-12 10:39:00,595 : srishtisingh_5502 :Uploading /tmp/tmpbiiiphx9/Fact.out_df1.csv to Live Server cloud
2023-01-12 10:39:00,597 : srishtisingh_5502 :File size less than 256 MB
2023-01-12 10:39:00,597 : srishtisingh_5502 :Uploading to /fileUpload endpoint
2023-01-12 10:39:00,599 : srishtisingh_5502 :Uploading /tmp/tmpbiiiphx9/Fact.out_df1.csv to Live Server cloud
2023-01-12 10:39:00,603 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443