In [7]:
_sales = "select ([WalmartTime].[Day] * [Version].[Version Name].[CurrentWorkingView]  * [Department].[Department_ID] * [Store].[Store_ID] * {Measure.[Weekly Sales]}); "
_features = "select( [WalmartTime].[Day] * [Version].[Version Name].[CurrentWorkingView] * [Store].[Store_ID] * { Measure.[Temperature], Measure.[Fuel Price], Measure.[MarkDown1] , Measure.[MarkDown2], Measure.[MarkDown3], Measure.[MarkDown4] , Measure.[MarkDown5] , Measure.[CPI] , Measure.[Unemployment]});"
_stores = "select([Store].[Store_ID] *[Store].[Type] *[Store].[Size]);"


# Initialize the O9DataLake with the input parameters and dataframes
# Data can be accessed with O9DataLake.get(<Input Name>)
# Overwritten values will not be reflected in the O9DataLake after initialization

from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource,PluginSetting
sales = O9DataLake.register("sales",data_source = DataSource.LS, entity_type = ResourceType.IBPL, query = _sales,plugin_setting = PluginSetting.Inputs)
features = O9DataLake.register("features",data_source = DataSource.LS, entity_type = ResourceType.IBPL, query = _features,plugin_setting = PluginSetting.Inputs)
stores = O9DataLake.register("stores",data_source = DataSource.LS, entity_type = ResourceType.IBPL, query = _stores,plugin_setting = PluginSetting.Inputs)

O9DataLake.register("PredictedSales",data_source = DataSource.LS,entity_type = ResourceType.IBPL,plugin_setting = PluginSetting.Outputs)
script_params = O9DataLake.register({}, data_source = DataSource.LS,plugin_setting = PluginSetting.ScriptParam)

2024-03-28 12:07:43,020 - o9_logger - ERROR  - Output variable already exists.

In [8]:
O9DataLake.inputs

{'sales': {'name': 'sales',
  'resource_type': <ResourceType.IBPL: 'ibpl_query'>,
  'data_source': <DataSource.LS: 'liveserver'>,
  'query': 'select ([WalmartTime].[Day] * [Version].[Version Name].[CurrentWorkingView]  * [Department].[Department_ID] * [Store].[Store_ID] * {Measure.[Weekly Sales]}); ',
  'std_count_limit': '200000',
  'df':        WalmartTime.[Day] Version.[Version Name]  Department.[Department_ID]  \
  0             02-05-2010     CurrentWorkingView                           1
  1             02-05-2010     CurrentWorkingView                           1
  2             02-05-2010     CurrentWorkingView                           1
  3             02-05-2010     CurrentWorkingView                           1
  4             02-05-2010     CurrentWorkingView                           1
  ...                  ...                    ...                         ...
  421565        10-26-2012     CurrentWorkingView                          50
  421566        10-26-2012     CurrentWorkingView                          50
  421567        10-26-2012     CurrentWorkingView                          50
  421568        10-26-2012     CurrentWorkingView                          50
  421569        10-26-2012     CurrentWorkingView                          65

          Store.[Store_ID]  Weekly Sales
  0                      1      24924.50
  1                     10      40212.84
  2                     11      19611.13
  3                     12      17426.75
  4                     13      46761.90
  ...                  ...           ...
  421565                23       7723.00
  421566                24        595.00
  421567                25       2317.00
  421568                27       2540.50
  421569                34      41457.76

  [421570 rows x 5 columns]},
 'features': {'name': 'features',
  'resource_type': <ResourceType.IBPL: 'ibpl_query'>,
  'data_source': <DataSource.LS: 'liveserver'>,
  'query': 'select( [WalmartTime].[Day] * [Version].[Version Name].[CurrentWorkingView] * [Store].[Store_ID] * { Measure.[Temperature], Measure.[Fuel Price], Measure.[MarkDown1] , Measure.[MarkDown2], Measure.[MarkDown3], Measure.[MarkDown4] , Measure.[MarkDown5] , Measure.[CPI] , Measure.[Unemployment]});',
  'std_count_limit': '200000',
  'df':      WalmartTime.[Day] Version.[Version Name]  Store.[Store_ID]  Temperature  \
  0           02-05-2010     CurrentWorkingView                 1        42.31
  1           02-05-2010     CurrentWorkingView                10        57.65
  2           02-05-2010     CurrentWorkingView                11        84.50
  3           02-05-2010     CurrentWorkingView                12        64.05
  4           02-05-2010     CurrentWorkingView                13        82.27
  ...                ...                    ...               ...          ...
  8185        07-26-2013     CurrentWorkingView                 5        48.86
  8186        07-26-2013     CurrentWorkingView                 6        68.91
  8187        07-26-2013     CurrentWorkingView                 7        18.79
  8188        07-26-2013     CurrentWorkingView                 8        74.71
  8189        07-26-2013     CurrentWorkingView                 9        54.03

        Fuel Price  MarkDown1  MarkDown2  MarkDown3  MarkDown4  MarkDown5  \
  0          2.572        NaN        NaN        NaN        NaN        NaN
  1          3.963   11265.62       7.90      14.95     919.45    2473.83
  2          2.653        NaN        NaN        NaN        NaN        NaN
  3          4.121   11772.46        NaN      61.63    3885.06    4225.11
  4          2.797        NaN        NaN        NaN        NaN        NaN
  ...          ...        ...        ...        ...        ...        ...
  8185       3.261    3408.93    3666.32       1.71     137.88    1706.42
  8186       2.780        NaN        NaN        NaN        NaN        NaN
  8187       3.103   13100.37    3096.60       1.73    4854.70    6266.04
  8188       2.759        NaN        NaN        NaN        NaN        NaN
  8189       3.669    3923.20      96.52      17.36     990.11    2755.72

               CPI  Unemployment
  0     211.096360         8.106
  1     130.741380         7.545
  2     214.666080         7.343
  3     131.037550        11.627
  4     126.128360         7.951
  ...          ...           ...
  8185  220.476019         5.943
  8186  211.894272         7.092
  8187  196.919506         8.256
  8188  214.250032         6.290
  8189  224.804683         5.667

  [8190 rows x 12 columns]},
 'stores': {'name': 'stores',
  'resource_type': <ResourceType.IBPL: 'ibpl_query'>,
  'data_source': <DataSource.LS: 'liveserver'>,
  'query': 'select([Store].[Store_ID] *[Store].[Type] *[Store].[Size]);',
  'std_count_limit': '200000',
  'df':     Store.[Store_ID] Store.[Type]  Store.[Size]
  0                  1            A        151315
  1                 10            B        126512
  2                 11            A        207499
  3                 12            B        112238
  4                 13            A        219622
  5                 14            A        200898
  6                 15            B        123737
  7                 16            B         57197
  8                 17            B         93188
  9                 18            B        120653
  10                19            A        203819
  11                 2            A        202307
  12                20            A        203742
  13                21            B        140167
  14                22            B        119557
  15                23            B        114533
  16                24            A        203819
  17                25            B        128107
  18                26            A        152513
  19                27            A        204184
  20                28            A        206302
  21                29            B         93638
  22                 3            B         37392
  23                30            C         42988
  24                31            A        203750
  25                32            A        203007
  26                33            A         39690
  27                34            A        158114
  28                35            B        103681
  29                36            A         39910
  30                37            C         39910
  31                38            C         39690
  32                39            A        184109
  33                 4            A        205863
  34                40            A        155083
  35                41            A        196321
  36                42            C         39690
  37                43            C         41062
  38                44            C         39910
  39                45            B        118221
  40                 5            B         34875
  41                 6            A        202505
  42                 7            B         70713
  43                 8            A        155078
  44                 9            B        125833}}