In [28]:
#This cells needs to be ignored
#Here we are validating the create plugin functionality in Jhub
#All cells are Assumed to be script cells, unless explicitly marked as o9_ignore

In [29]:
from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource
query1 = "select (Version.[Version Name]*Product.[Product].[196426]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});"
query2 = "select (Version.[Version Name]*Product.[Product].[196426]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});"
O9DataLake.register("sales_df",DataSource.LS, ResourceType.IBPL, query1) 
O9DataLake.register("DPBaseInputs",DataSource.LS, ResourceType.IBPL, query2)

,Version.[Version Name],Product.[Product],Time.[FiscalWeek],SalesAccount.[Account],Location.[Location],DPSellOutUnitsActuals,Mean Pricing Save PCT,Placement Count,Promotion Count,DPSellOutPrice
0,S2,196426,W03-2016,ALL,ALL,1.0,NaN,NaN,NaN,2.0
1,CurrentWorkingView,196426,W03-2016,ALL,ALL,1.0,NaN,NaN,NaN,2.0
2,S2,196426,W05-2016,ALL,ALL,2.0,NaN,NaN,NaN,2.0
3,CurrentWorkingView,196426,W05-2016,ALL,ALL,2.0,NaN,NaN,NaN,2.0
4,S2,196426,W08-2016,ALL,ALL,1.0,NaN,NaN,NaN,2.0
5,CurrentWorkingView,196426,W08-2016,ALL,ALL,1.0,NaN,NaN,NaN,2.0
6,S2,196426,W13-2016,ALL,ALL,1.0,NaN,NaN,NaN,2.0
7,CurrentWorkingView,196426,W13-2016,ALL,ALL,1.0,NaN,NaN,NaN,2.0
8,S2,196426,W48-2016,ALL,ALL,1.0,NaN,NaN,NaN,2.0
9,CurrentWorkingView,196426,W48-2016,ALL,ALL,1.0,NaN,NaN,NaN,2.0
10,S2,196426,W42-2017,ALL,ALL,1.0,NaN,NaN,NaN,2.0
11,CurrentWorkingView,196426,W42-2017,ALL,ALL,1.0,NaN,NaN,NaN,2.0
12,S2,196426,W44-2017,ALL,ALL,1.0,NaN,NaN,NaN,2.0
13,CurrentWorkingView,196426,W44-2017,ALL,ALL,1.0,NaN,NaN,NaN,2.0

In [30]:
#getting input from dataLake

sales = O9DataLake.get('sales_df')
dpbaseinputs = O9DataLake.get('DPBaseInputs')

#User Script
import logging
out_df1 = None
logger = logging.getLogger('o9_logger')
logger.info(f'Records count in sales dataframe : {sales.shape}')
logger.info(f'Records count in DPBaseInputs dataframe : {dpbaseinputs.shape}')
logger.warning("Hello warning")
logger.error("Hello error")

#pushing output to the DataLake
O9DataLake.put('out_df1',sales)

Records count in sales dataframe : (14, 10)
Records count in DPBaseInputs dataframe : (14, 10)
Hello warning
Hello error

In [31]:
print("Hello")

Hello